#app {
    display: contents;
    justify-content: center;
    padding: 40px;
    max-width: 100%; 
}
.product-wrapper { 
    margin: 10px; 
    padding: 20px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.product-wrapper h1 {
    font-size: 24px;
    color: crimson;
    margin-bottom: 10px;
}

.product-wrapper div {
    margin-bottom: 10px;
    color : crimson;
    font-size: 18px; 
}

.resize-image {
    height: auto;
    width: 225px; 
}

.product-wrapper button {
    background-color: crimson;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

